name: 'ci'

on:
  pull_request:
    branches:
    - develop
    - main
  push:
    branches:
    - develop
    - main
    - 'release/**'
    - 'hotfix/**'

env:
  GITVERSION_CONFIG_MONOREPO: '.cicd/common/.gitversion.yml'
  PROJECT_NAME: payobills

jobs:
  ci:
    name: ci
    runs-on: ubuntu-22.04-arm
    outputs:
      CHANGED_APP_TARGETS: ${{ steps.generate_other_targets.outputs.CHANGED_APP_TARGETS }} 
      CHANGED_APP_TARGETS_COUNT: ${{ steps.generate_other_targets.outputs.CHANGED_APP_TARGETS_COUNT }} 
      CHANGED_SERVICES: ${{ steps.calculate_changed_services.outputs.changed_services }}
    steps:
    - name: Setup please.build
      uses: sagikazarmark/setup-please-action@v0

    - name: Checkout
      uses: actions/checkout@v2

    - name: Fetch all history for all tags and branches
      run: |
        git fetch --unshallow
        git checkout main && git checkout -

    - name: Checkout to branch
      uses: mrsauravsahu/monotools/apps/semver-yeasy@main
      env:
        GITVERSION_EXEC_PATH: /home/runner/.dotnet/tools/dotnet-gitversion
      with: 
        repo-type: MONOREPO
        mode: checkout

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.x

    - name: Install GitVersion.Tool
      run: dotnet tool install --global GitVersion.Tool --version 6.3.0

    - uses: actions/cache@v4
      with:
        path: plz-out
        key: plz-out

    - name: Calculate changed services
      id: calculate_changed_services
      env:
        GITVERSION_EXEC_PATH: /home/runner/.dotnet/tools/dotnet-gitversion
      uses: mrsauravsahu/monotools/apps/semver-yeasy@main
      with: 
        repo-type: MONOREPO
        mode: changed

    - name: Generate other targets
      id: generate_other_targets
      env:
        SERVICES_RAW: ${{ steps.calculate_changed_services.outputs.changed_services }}
      run: |
        echo "SERVICES_RAW='${SERVICES_RAW}'"
        SERVICES=($(echo "${SERVICES_RAW}" | jq -r '.value[]'))

        CHANGED_APP_TARGETS_COUNT=$(echo "${SERVICES_RAW}" | jq -r '.value | length')
        echo "CHANGED_APP_TARGETS_COUNT='${CHANGED_APP_TARGETS_COUNT}' >> $GITHUB_OUTPUT"
        echo "[DEBUG] CHANGED_APP_TARGETS_COUNT='${CHANGED_APP_TARGETS_COUNT}'"

        if [ "${#SERVICES[@]}" == "0" ]; then
          # echo '[DEBUG] No changed services'

          echo "SERVICES=''" >> $GITHUB_OUTPUT
          echo "DOCKER_BUILD_TARGETS=''" >> $GITHUB_OUTPUT
          echo "IMAGE_SCAN_TARGETS=''" >> $GITHUB_OUTPUT
          echo "CHANGED_APP_TARGETS=''" >> $GITHUB_OUTPUT

        else
          # echo "[DEBUG] ${#SERVICES[@]} changed services"
          DOCKER_BUILD_TARGETS=($(echo "${SERVICES[@]}" | xargs printf "//%s:docker "))
          IMAGE_SCAN_TARGETS=($(echo "${SERVICES[@]}" | xargs printf "//%s:image_scan "))
          CHANGED_APP_TARGETS=($(echo "${SERVICES[@]}" | xargs printf "//%s:docker_buildx "))
          
          echo "[DEBUG] SERVICES='${SERVICES[@]}'"
          echo "SERVICES='${SERVICES[@]}'" >> $GITHUB_OUTPUT
          
          echo "[DEBUG] DOCKER_BUILD_TARGETS='${DOCKER_BUILD_TARGETS[@]}'"
          echo "DOCKER_BUILD_TARGETS='${DOCKER_BUILD_TARGETS[@]}'" >> $GITHUB_OUTPUT
          
          echo "[DEBUG] IMAGE_SCAN_TARGETS='${IMAGE_SCAN_TARGETS[@]}'"
          echo "IMAGE_SCAN_TARGETS='${IMAGE_SCAN_TARGETS[@]}'" >> $GITHUB_OUTPUT
          
          echo "[DEBUG] CHANGED_APP_TARGETS='${CHANGED_APP_TARGETS[@]}'"
          echo "CHANGED_APP_TARGETS='${CHANGED_APP_TARGETS[@]}'" >> $GITHUB_OUTPUT
        fi

    # - name: lint targets
    #   if: steps.generate_other_targets.outputs.SERVICES != ''
    #   run: |
    #     # TODO: figure out how to pass different env for different targets
    #     for i in ${{ steps.generate_other_targets.outputs.SERVICES }}; do
    #       PLZ_OVERRIDES=buildenv.SECRET_SERVICE_NAME:"$i" plz run $i:lint
    #     done

    # - name: run tests
    #   if: steps.generate_other_targets.outputs.SERVICES_SINGLE_LINE != ''
    #   run: plz test `echo ${{ steps.generate_other_targets.outputs.SERVICES_SINGLE_LINE }} | sed 's|//apps/[a-z]*|&/tests|g'`

    # - name: Build targets
    #   if: steps.calculate_changed_services.outputs.changed_services != ''
    #   run: echo ${{ steps.generate_other_targets.outputs.DOCKER_BUILD_TARGETS }} | xargs plz run parallel

    # - name: Container Scanning
    #   if: steps.calculate_changed_services.outputs.changed_services != ''
    #   run: echo ${{ steps.generate_other_targets.outputs.IMAGE_SCAN_TARGETS }} | xargs -n 1 sh -c 'echo $0; echo ----; plz run $0; echo ----;'

    - name: Calculate versions
      id: calculate_service_versions
      env:
        GITVERSION_EXEC_PATH: /home/runner/.dotnet/tools/dotnet-gitversion
        JQ_EXEC_PATH: /usr/bin/jq
        SEMVERYEASY_CHANGED_SERVICES: ${{ fromJSON(steps.generate_other_targets.outputs.SERVICES) }}
        GITVERSION_CONFIG_MONOREPO: ${{ env.GITVERSION_CONFIG_MONOREPO }}
      uses: mrsauravsahu/monotools/apps/semver-yeasy@main
      with: 
        repo-type: MONOREPO
        mode: calculate-version
        diff_source: ${{ steps.calculate_changed_services.outputs.diff_source }}
        diff_dest: ${{ steps.calculate_changed_services.outputs.diff_dest }}

    - name: Update PR description
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SEMVERY_YEASY_PR_BODY: ${{ steps.calculate_service_versions.outputs.PR_BODY }}
        GITVERSION_EXEC_PATH: /home/runner/.dotnet/tools/dotnet-gitversion
      if: ${{ github.event_name == 'pull_request' }}
      uses: mrsauravsahu/monotools/apps/semver-yeasy@main
      with: 
        repo-type: MONOREPO
        mode: update-pr
        diff_source: ${{ steps.calculate_changed_services.outputs.diff_source }}
        diff_dest: ${{ steps.calculate_changed_services.outputs.diff_dest }}

    - name: Tag build with git tag
      if: ${{ github.event_name == 'push' && steps.calculate_changed_services.outputs.changed_services != '{"value":[]}' && (steps.calculate_changed_services.outputs.diff_dest == 'main' || startsWith(steps.calculate_changed_services.outputs.diff_dest, 'release') || startsWith(steps.calculate_changed_services.outputs.diff_dest, 'hotfix')) }}
      env:
        SEMVERYEASY_CHANGED: ${{ steps.calculate_changed_services.outputs.changed }}
        SEMVERYEASY_CHANGED_SERVICES: ${{ fromJSON(steps.generate_other_targets.outputs.SERVICES) }}
        GITVERSION_EXEC_PATH: /home/runner/.dotnet/tools/dotnet-gitversion
      uses: mrsauravsahu/monotools/apps/semver-yeasy@main
      with: 
        repo-type: MONOREPO
        mode: tag
        diff_dest: ${{ steps.calculate_changed_services.outputs.diff_dest }}

     # Doc: Get list of workflows for this repo
     # curl -X GET \
     #  -H "Accept: application/vnd.github+json" \
     #  https://api.github.com/repos/payobills/payobills/actions/workflows  | jq

    - name: Trigger Build workflow
      if: ${{ github.event_name == 'pull_request' || steps.calculate_changed_services.outputs.changed_services != '{"value":[]}' && (steps.calculate_changed_services.outputs.diff_dest == 'main' || startsWith(steps.calculate_changed_services.outputs.diff_dest, 'release') || startsWith(steps.calculate_changed_services.outputs.diff_dest, 'hotfix')) }}
      run: |
        echo curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.CICD_PAT}}" \
            https://api.github.com/repos/${{ github.repository }}/actions/workflows/178662221/dispatches \
            -d "{\"ref\": \"$(echo -n '${{ steps.calculate_service_versions.outputs.PR_BODY }}' | grep apps | head -1 | sed 's|.*apps/||' | sed 's| - |/|')\"}" 

  deploy-tmp-pr-docker-buildx-images:
    name: deploy-tmp-pr-docker-buildx-images
    if: ${{ github.event_name == 'pull_request' && needs.ci.outputs.CHANGED_SERVICES != '{"value":[]}' }}
    needs: ci
    uses: ./.github/workflows/run-plz.yml
    secrets: 
      GHCR_CI_TOKEN: ${{ secrets.GHCR_CI_TOKEN }}
    with:
      PLZ_SUBCOMMAND: "run"
      PLZ_SUBCOMMAND_ARGS: "${{ needs.ci.outputs.CHANGED_APP_TARGETS }}"
      ENV_VARS: "{ \"VERSION\":\"0.0.0-pr.${{ github.event.pull_request.number }}\", \"CI\": \"true\", \"EXTRA_ARGS\":\"--push\", \"NODE_VERSION\":\"20.11.1\", \"RUST_VERSION\":\"1.79.0-alpine3.20\", \"DOTNET_VERSION\":\"8.0.404\",\"DOTNET_RUNTIME_VERSION\":\"8.0.3-bookworm-slim\"}"
