run-name: "VERSION=${{ fromJson(inputs.ENV_VARS).VERSION }}; plz ${{ inputs.PLZ_SUBCOMMAND }} ${{ inputs.PLZ_SUBCOMMAND_ARGS }}"

on:
  workflow_call:
    secrets:
      GHCR_CI_TOKEN:
        description: "ci token to login to ghcr"
        required: true
    inputs:
      PLZ_SUBCOMMAND:
        description: "plz subcommand to run"
        required: true
        default: "run"
        type: string
      ENV_VARS:
        description: "JSON string of environment variables"
        default: '{ "CI": "true", "EXTRA_ARGS":"--push", "DOTNET_VERSION":"8.0.404","DOTNET_RUNTIME_VERSION":"8.0.3-bookworm-slim", "NODE_VERSION": "20.11.1", "RUST_VERSION": "1.79.0-alpine3.20" }'
        type: string
      PLZ_SUBCOMMAND_ARGS:
        description: "Arguments for plz command"
        required: false
        type: string
        default: ""
      APP_NAME:
        description: "Name of the app to run the plz command on"
        required: false
        type: string
        default: ""
      VERSION:
        description: "Version of the app to run the plz command on"
        required: false
        type: string
        default: ""

  workflow_dispatch:
    inputs:
      PLZ_SUBCOMMAND:
        description: "plz subcommand to run"
        required: true
        default: "run"
        type: choice
        options:
          - run
          - build
      ENV_VARS:
        description: "JSON string of environment variables"
        default: '{ "CI": "true", "EXTRA_ARGS":"--push", "DOTNET_VERSION":"8.0.404","DOTNET_RUNTIME_VERSION":"8.0.3-bookworm-slim"}'
      PLZ_SUBCOMMAND_ARGS:
        description: "Arguments for plz command"
        required: false
        default: ""
      APP_NAME:
        description: "Name of the app to run the plz command on"
        required: false
        type: string
        default: ""
      VERSION:
        description: "Version of the app to run the plz command on"
        required: false
        type: string
        default: ""

jobs:
  run_plz_command:
    runs-on: ubuntu-22.04-arm
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: ${{ (inputs.APP_NAME != '' && inputs.VERSION != '') && format('refs/tags/{0}/{1}', inputs.APP_NAME, inputs.VERSION) || github.ref }}

      - name: Setup please.build
        uses: sagikazarmark/setup-please-action@v0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create Buildx Builder with Platforms
        run: |
          # Create a new buildx builder and set it as the default
          docker buildx create --use --name cross --driver docker-container --platform linux/amd64,linux/arm64

      - name: Authenticate to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_CI_TOKEN }}

      - name: Run plz command
        run: bash -c "$(echo "${PASSED_ENV_VARS}" | jq -r 'to_entries | .[] | "export \(.key)=\(.value)"' | xargs); plz ${PLZ_SUBCOMMAND} ${PLZ_SUBCOMMAND_ARGS}"
        env:
          PROJECT_NAME: "payobills"
          PASSED_ENV_VARS: ${{ inputs.ENV_VARS }}
          PLZ_SUBCOMMAND: ${{ inputs.PLZ_SUBCOMMAND }}
          PLZ_SUBCOMMAND_ARGS: ${{ inputs.PLZ_SUBCOMMAND_ARGS }}
